body {
  font-family: montserrat;
  background-color: rgb(22, 22, 22);
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  max-width: 100%;
  height: 100%;
}

.acrescentar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  font-family: montserrat;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.tarefa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-acrescentar {
  padding: 10px 10px;
  border: none;
  border-radius: 90px;
  width: 49px;
  height: 46px;
  font-size: 22px;
  background-color: rgb(116, 0, 87);
  color: azure;
  margin-left: -32px;
  transition: 0.42s;
  cursor: pointer;
}

.botao-acrescentar:hover {
  background-color: rgb(163, 0, 122);
}

li {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  transition: 0.2s;
  flex-direction: row;
  text-align: start;
  transition: 3s ease;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.botao-concluido-lista {
  border: none;
  background-color: #48ff00;
  cursor: pointer;
  transition: 0.42s;
  padding: 10px 20px;
  border-radius: 6px;
}

.botao-remover-lista {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: rgb(201, 0, 0);
  cursor: pointer;
  margin-left: 7px;
  transition: 0.42s;
  margin-right: 10px;
}

.tarefas-lista {
  display: flex;
  flex-direction: column;
}

.div-lista {
  background-color: rgb(39, 39, 39);
  margin-top: 20px;
  border-radius: 8px;
  width: 500px;
  padding: 15px;
  justify-content: space-between;
}

.lista-elemento {
  display: flex;
  justify-content: space-between;
}

.tarefas-lista:hover {
  padding-left: 20px;
}
